@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(0); } }

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(0); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(1rem); } }

* {
  box-sizing: border-box; }

body {
  background: #fff;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }

a {
  color: #fff;
  text-decoration: none;
  transition: 1s; }
  a.active {
    color: #372b9c; }
  a:hover {
    color: #372b9c; }

p {
  text-align: center; }

.cap {
  text-transform: uppercase; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #372b9c; }

.nav-link {
  outline-color: black; }

.top {
  z-index: 100;
  top: 0;
  position: fixed;
  width: 100%;
  background: #000;
  height: 4rem;
  overflow: hidden;
  display: block;
  transition: top 1s; }
  .top .name a {
    left: 25px;
    top: 16px;
    font-size: 20px;
    position: absolute; }
  .top .menu-btn {
    z-index: 3;
    right: 30px;
    top: 22px;
    position: absolute;
    cursor: pointer;
    transition: all 0.5s ease-out; }
    .top .menu-btn .btn-line {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: #fff;
      transition: all 0.5s ease-out; }
    .top .menu-btn.close {
      transform: rotate(180deg); }
      .top .menu-btn.close .btn-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px); }
      .top .menu-btn.close .btn-line:nth-child(2) {
        opacity: 0; }
      .top .menu-btn.close .btn-line:nth-child(3) {
        transform: rotate(-45deg) translate(6.5px, -6.5px); }

#about .wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  -ms-flex-align: center;
      align-items: center; }
  #about .wrapper .profile {
    max-width: 200px;
    height: auto;
    border-radius: 100%;
    border-style: solid;
    border-width: 0.5px; }

#cv {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  margin-top: 50px;
  padding: 50px;
  height: 300px;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/resume-bg.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat; }
  #cv h1 {
    margin-top: 0;
    font-size: 2.25rem; }
  #cv .btn-resume {
    background-color: #fff;
    color: #000;
    width: 200px; }

section {
  transition: all 0.5s ease-out;
  width: 100%;
  padding: 1.7rem;
  height: auto;
  float: left;
  text-align: center; }
  section h5 {
    margin-top: 15vh; }
  section .first-heading {
    padding-top: 20vh;
    font-size: 3rem;
    font-weight: 500;
    color: #e8eddf;
    margin: 0;
    animation: fadeDown 1s; }
  section .lg-heading {
    font-size: 5rem;
    font-weight: 550;
    line-height: 120%;
    letter-spacing: 0.15rem;
    margin: 0;
    animation: fadeDown 1.5s; }
  section .sm-heading {
    padding-top: 1rem;
    font-size: 1.75rem;
    font-weight: 400;
    color: #e8eddf;
    margin-bottom: 2rem;
    margin: 0;
    animation: fadeDown 2s; }
  section#home {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/home.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff; }
    section#home .to-about {
      -ms-flex-align: center;
          align-items: center;
      text-align: center;
      animation: down 2s infinite;
      color: #fff;
      font-size: 1.3rem;
      padding-top: 10vh; }
  section#work, section#contact, section#skills, section#about {
    min-height: 60vh;
    background-color: #fff;
    color: #000; }
    section#work p, section#contact p, section#skills p, section#about p {
      margin: 2rem 7rem; }
    section#work .second, section#contact .second, section#skills .second, section#about .second {
      margin: 0 12rem; }
    section#work h2, section#contact h2, section#skills h2, section#about h2 {
      font-size: 2.25rem;
      padding-bottom: 1rem;
      display: grid;
      width: 100%;
      -ms-flex-align: center;
          align-items: center;
      text-align: center;
      grid-template-columns: minmax(15px, 1fr) auto minmax(15px, 1fr);
      grid-gap: 20px; }
    section#work h2:before,
    section#work h2:after, section#contact h2:before,
    section#contact h2:after, section#skills h2:before,
    section#skills h2:after, section#about h2:before,
    section#about h2:after {
      content: '';
      border-top: 2px solid; }

.grey-transform {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: 0.3s ease-in; }
  .grey-transform:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); }

section .skills-container {
  margin: 3rem 7rem 0 7rem; }

section .grid-container {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  border: solid 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

section .skill-item {
  font-size: 30px;
  padding: 1rem 0;
  text-align: center; }
  section .skill-item .skill-img3 {
    margin-top: 1.5rem; }
  section .skill-item .skill-img5 {
    margin-top: 1rem; }
  section .skill-item .skill-img6 {
    margin-top: 0.7rem; }
  section .skill-item img {
    max-width: 60px;
    height: auto; }

.projects {
  margin: 0 7rem 0 7rem;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 40%;
  grid-template-rows: auto;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }
  .projects .project {
    padding: 1rem 0.6rem;
    border: solid 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .projects img {
    padding: 0.5rem;
    width: 100%;
    cursor: auto; }

.btn, #cv .btn-resume, .btn-dark, .btn-light, .btn-dark-send {
  display: block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s ease-in; }
  .btn:hover, #cv .btn-resume:hover, .btn-dark:hover, .btn-light:hover, .btn-dark-send:hover {
    background: #372b9c;
    color: #fff; }

.btn-dark {
  background: black;
  color: #fff;
  margin: 0.5rem; }

.btn-light {
  background: #c4c4c4;
  color: #333;
  margin: 0.5rem; }

.btn-dark-send {
  margin: auto;
  background: black;
  color: #fff; }

.contact-form {
  margin: auto;
  display: block;
  max-width: 600px;
  border: solid 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px; }
  .contact-form input[type='text'],
  .contact-form textarea {
    width: 100%;
    text-align: center;
    padding: 12px;
    border: 1px solid #372b9c;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; }
  .contact-form .input-field {
    width: 100%;
    float: left; }
  .contact-form textarea {
    min-height: 100px; }
  .contact-form label {
    line-height: 2.7em;
    width: 100%; }

footer {
  background: #000;
  height: auto;
  width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  bottom: 0; }
  footer .to-top {
    padding-top: 0.5rem;
    -ms-flex-align: center;
        align-items: center;
    text-align: center;
    animation: up 2s infinite; }
  footer .icons {
    margin-top: 1rem; }
    footer .icons ul {
      list-style-type: none;
      margin: 0;
      padding: 1rem 0;
      -ms-flex-align: center;
          align-items: center;
      width: 100%;
      text-align: center; }
      footer .icons ul li {
        display: inline-block;
        padding: 0.3rem 1rem;
        *display: inline;
        /*IE7*/
        *zoom: 1;
        /*IE7*/ }
        footer .icons ul li a {
          font-size: 14px;
          transition: all 0.5s ease-out; }
          footer .icons ul li a:hover {
            color: #372b9c; }

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(1rem); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(0); } }

@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(0); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(1rem); } }

@media screen and (min-width: 1171px) {
  .top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    .top .name {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .top .name a {
        left: 60px; }
    .top .menu-btn {
      display: none; }
    .top .menu {
      right: 0; }
      .top .menu .menu-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-align: center;
            align-items: center;
        width: 80%;
        list-style: none; }
        .top .menu .menu-nav .nav-link {
          text-decoration: none;
          padding: 0 3.5rem 0 3.5rem;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1.5px; }
  .small-h {
    display: none; }
  section .first-heading {
    display: none; }
  section .lg-heading {
    padding-top: 30vh; }
  section .skills-container {
    margin: 0 7rem; }
  section#work .second, section#contact .second, section#skills .second, section#about .second {
    margin: 0 10rem; }
  section#work p, section#contact p, section#skills p, section#about p {
    margin: 2rem 11rem; }
  section .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    grid-gap: 0.7rem;
    grid-template-rows: auto; }
    section .grid-container .skill-item {
      padding: 2rem 0; } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center; }
    .top .name {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center; }
      .top .name a {
        left: 50px; }
    .top .menu-btn {
      display: none; }
    .top .menu {
      right: 0; }
      .top .menu .menu-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -ms-flex-align: center;
            align-items: center;
        width: 80%;
        list-style: none; }
        .top .menu .menu-nav .nav-link {
          text-decoration: none;
          padding: 0 2rem 0 2.75rem;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1.5px; }
  .small-h {
    display: none; }
  .projects {
    grid-template-columns: 55%;
    margin: 0 4rem; }
  section .skills-container {
    margin: 0 4rem; }
  section .first-heading {
    display: none; }
  section .lg-heading {
    padding-top: 30vh; }
  section#work .second, section#contact .second, section#skills .second, section#about .second {
    margin: 0 6rem; }
  section#work p, section#contact p, section#skills p, section#about p {
    margin: 2rem 6rem; } }

@media screen and (min-width: 501px) and (max-width: 768px) {
  .top .name a {
    left: 50px; }
  .grey-transform {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); }
  .menu {
    position: fixed;
    width: 100%;
    opacity: 1;
    top: 0;
    visibility: hidden;
    height: 100vh; }
    .menu.show {
      visibility: visible; }
    .menu-nav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background: #111111;
      list-style: none;
      transform: translateX(100%);
      transition: all 0.5s ease-out; }
      .menu-nav.show {
        transform: translateX(0); }
    .menu .nav-item {
      transform: translateX(100%);
      transition: all 0.5s ease-out; }
      .menu .nav-item.show {
        transform: translateX(0); }
      .menu .nav-item.current > a {
        color: #372b9c; }
    .menu .nav-link {
      display: inline-block;
      position: relative;
      padding: 4vh 0;
      text-transform: uppercase;
      font-size: 2em;
      letter-spacing: 5px;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s ease-out; }
      .menu .nav-link:hover {
        color: #372b9c; }
  .big-h {
    display: none; }
  .projects {
    grid-template-columns: 75%;
    margin: 0 2rem; }
  section .skills-container {
    margin: 0 2rem; }
  section#work .second, section#contact .second, section#skills .second, section#about .second {
    margin: 0 2rem; }
  section#work p, section#contact p, section#skills p, section#about p {
    margin: 2rem 4rem; }
  section ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0; }
    section ul.menu-nav.show {
      transform: translateX(0); } }

@media screen and (max-width: 500px) {
  .grey-transform {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%); }
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    visibility: hidden;
    height: 100vh; }
    .menu.show {
      visibility: visible; }
    .menu-nav {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background: #111111;
      list-style: none;
      transform: translateX(100%);
      transition: all 0.5s ease-out; }
      .menu-nav.show {
        transform: translateX(0); }
    .menu .nav-item {
      transform: translateX(100%);
      transition: all 0.5s ease-out; }
      .menu .nav-item.show {
        transform: translateX(0); }
      .menu .nav-item.current > a {
        color: #372b9c; }
    .menu .nav-link {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      padding: 3vh 0;
      font-size: 2em;
      letter-spacing: 5px;
      font-weight: 300;
      color: #fff;
      text-decoration: none;
      transition: all 0.5s ease-out; }
      .menu .nav-link:hover {
        color: #372b9c; }
  .big-h {
    display: none; }
  footer p {
    font-size: 13px; }
  section .skills-container {
    margin: 0; }
  section#work .second, section#contact .second, section#skills .second, section#about .second {
    margin: 0; }
  section#work p, section#contact p, section#skills p, section#about p {
    margin: 2rem 2rem; }
  .projects {
    grid-template-columns: 100%;
    margin: 0; } }
