@import 'config';

// Widescreens///////////////////////////////////////
@include mediaXl {
  .top {
    .name {
      display: flex;
      align-items: center;
      a {
        left: 60px;
      }
    }
    .menu-btn {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      right: 0;
      .menu-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        list-style: none;

        .nav-link {
          text-decoration: none;
          padding: 0 3.5rem 0 3.5rem;

          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
      }
    }
  }
  .small-h {
    display: none;
  }
  section {
    .first-heading {
      display: none;
    }
    .lg-heading {
      padding-top: 30vh;
    }
    .skills-container {
      margin: 0 7rem;
    }
    &#work,
    &#contact,
    &#skills,
    &#about {
      .second {
        margin: 0 10rem;
      }
      p {
        margin: 2rem 10rem;
      }
    }
  }
}

// Desktops & Laptops////////////////////////////////
@include mediaLg {
  .top {
    .name {
      display: flex;
      align-items: center;

      a {
        left: 50px;
      }
    }
    .menu-btn {
      display: none;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu {
      right: 0;
      .menu-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 80%;

        list-style: none;

        .nav-link {
          text-decoration: none;
          padding: 0 2rem 0 2.75rem;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1.5px;
        }
      }
    }
  }

  .small-h {
    display: none;
  }
  .projects {
    grid-template-columns: 55%;
    margin: 0 4rem;
  }
  section {
    .skills-container {
      margin: 0 4rem;
    }
    .first-heading {
      display: none;
    }
    .lg-heading {
      padding-top: 30vh;
    }
    &#work,
    &#contact,
    &#skills,
    &#about {
      .second {
        margin: 0 6rem;
      }
      p {
        margin: 2rem 6rem;
      }
    }
  }
}

// Tablets & Small Laptops//////////////////////////
@include mediaMd {
  .top {
    .name {
      a {
        left: 50px;
      }
    }
  }
  /////////////////////////// Menu Overlay
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    visibility: hidden;
    height: 100vh;

    &.show {
      visibility: visible;
    }

    &-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background: #111111;
      list-style: none;
      transform: translateX(100%);
      @include easeOut;

      &.show {
        // Slide in from right
        transform: translateX(0);
      }
    }

    .nav-item {
      transform: translateX(100%);
      @include easeOut;

      &.show {
        // Slide in from right
        transform: translateX(0);
      }

      &.current > a {
        color: $secondary-color;
      }
    }

    .nav-link {
      display: inline-block;
      position: relative;

      text-transform: uppercase;
      font-size: 2em;
      padding: 3rem 0;
      letter-spacing: 5px;
      font-weight: 300;
      color: set-text-color($primary-color);
      text-decoration: none;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }
  .big-h {
    display: none;
  }
  .projects {
    grid-template-columns: 75%;
    margin: 0 2rem;
  }
  section {
    .skills-container {
      margin: 0 2rem;
    }
    &#work,
    &#contact,
    &#skills,
    &#about {
      .second {
        margin: 0 2rem;
      }
      p {
        margin: 2rem 4rem;
      }
    }

    ul.menu-nav {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    .menu-nav {
      height: 100vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 24px;
    }
  }
}

// Smartphones //////////////////////////////////////////
@include mediaSm {
  /////////////////////////// Menu Overlay
  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    visibility: hidden;
    height: 100vh;

    &.show {
      visibility: visible;
    }

    &-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      float: left;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      margin: 0;
      padding: 0;
      background: #111111;
      list-style: none;
      transform: translateX(100%);
      @include easeOut;

      &.show {
        // Slide in from right
        transform: translateX(0);
      }
    }

    .nav-item {
      transform: translateX(100%);
      @include easeOut;

      &.show {
        // Slide in from right
        transform: translateX(0);
      }

      &.current > a {
        color: $secondary-color;
      }
    }

    .nav-link {
      display: inline-block;
      position: relative;
      text-transform: uppercase;
      font-size: 2em;
      padding: 3rem 0;
      letter-spacing: 5px;
      font-weight: 300;
      color: set-text-color($primary-color);
      text-decoration: none;
      @include easeOut;

      &:hover {
        color: $secondary-color;
      }
    }
  }
  .big-h {
    display: none;
  }
  footer {
    p {
      font-size: 13px;
    }
  }
  section {
    .skills-container {
      margin: 0;
    }
    &#work,
    &#contact,
    &#skills,
    &#about {
      .second {
        margin: 0;
      }
      p {
        margin: 2rem 2rem;
      }
    }
  }
  .projects {
    grid-template-columns: 100%;
    margin: 0;
  }
}
