// Widescreens///////////////////////////////////////
@import 'config';
@include mediaXl {
  section {
    .skills-container {
      margin: 0 7rem;
    }
    &#work,
    &#contact,
    &#skills,
    &#about {
      .second {
        margin: 0 10rem;
      }
      p {
        margin: 2rem 10rem;
      }
    }
  }
}

// Desktops & Laptops////////////////////////////////
@include mediaLg {
  .projects {
    grid-template-columns: 55%;
    margin: 0 4rem;
  }
  section {
    .skills-container {
      margin: 0 4rem;
    }
    &#work,
    &#contact,
    &#skills,
    &#about {
      .second {
        margin: 0 6rem;
      }
      p {
        margin: 2rem 6rem;
      }
    }
  }
}

// Tablets & Small Laptops//////////////////////////
@include mediaMd {
  .projects {
    grid-template-columns: 75%;
    margin: 0 2rem;
  }
  section {
    .skills-container {
      margin: 0 2rem;
    }
    &#work,
    &#contact,
    &#skills,
    &#about {
      .second {
        margin: 0 2rem;
      }
      p {
        margin: 2rem 4rem;
      }
    }
    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }

    ul.menu-nav {
      float: none;
      width: 100%;
      min-height: 0;

      &.show {
        transform: translate3d(0, 0, 0);
      }
    }

    .menu-nav {
      height: 100vh;
      transform: translate3d(-100%, 0, 0);
      font-size: 24px;
    }
  }
}

// Smartphones //////////////////////////////////////////
@include mediaSm {
  footer {
    p {
      font-size: 13px;
    }
  }
  section {
    .skills-container {
      margin: 0;
    }
    &#work,
    &#contact,
    &#skills,
    &#about {
      .second {
        margin: 0;
      }
      p {
        margin: 2rem 2rem;
      }
    }
  }
  .projects {
    grid-template-columns: 100%;
    margin: 0;
  }
}
